{% extends "templates/index.html" %}

{% block main %}
  {% block header %}
  <div id="header" class="text-center">
    <h3>Explore Aerospike's Interactvice Tutorials</h3>
    <div id="explanation">
      <p>These Aerospike tutorials will help developers quickly learn and enjoy using Aerospike Database. They contain both:</p>
      <ul><li>Concepts – Explanations of common database and Aerospike concepts.</li>
        <li>Code – Functioning Aerospike API code snippets.</li></ul>
    </div>
  </div>
  {% endblock header %}

  {% block how_it_works %}
  <div id="how-it-works">
    
  </div>
  {% endblock how_it_works %}

{% endblock main %}