{% extends "templates/page.html" %}

{% block head %}
  <link id="favicon" rel="shortcut icon" type="image/png" href="/extra_static/favicon.ico" />
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"></link>
{% endblock head %}

{% block logo %}
<div class="container">
  <div class="row">
    <div id="logo-container">
      <img src="{{static_url("logo.svg")}}" width="100px"  />
      <br>
      <br>    
      <img id="logo" src={% block logo_image %}"/extra_static/logoWhite.png"{% endblock logo_image %} width="390px" />
    </div>
  </div>
</div>
{% endblock logo %}

{% block main %}
  {% block header %}
  <div id="header" class="text-center">
    <h3>Interactive Tutorials</h3>
    <div id="explanation">
        <p>Head over to <a href="https://www.developer.aerospike.com/docs/tutorials">Aerospike Developer Hub</a> to explore our tutorial and access direct links to launch them directly in your browser.</p>
    </div>
  </div>
  {% endblock header %}

  {% block how_it_works %}
  <div id="how-it-works">
    
  </div>
  {% endblock how_it_works %}

{% endblock main %}

{% block footer %}
<div class="container">
  <div class="row text-center">
    <a href="https://www.developer.aerospike.com">Aerospike Developer Hub</a>
  </div>
</div>
{% endblock footer %}

